h1 {
    color: blue;
    text-align: center;
    margin-bottom: 20px;
    padding: 20px;

}

p
 {
    color: red;
    font-size: 20px;

}

.bold-text {
    font-weight: bold;
}

.text-container {
    background-color: yellowgreen;
    background-image: urlWhatsApp Image 2025-07-09 at 17.55.01.jpeg;
    
}

.my-foto {
    border: 5px solid black;
    width: 500px;
    height: 500px;

}

.text1 {
    width: 200px;
    height: 100px;
    
}